@import 'fonts.scss';

$maxWidth: 1170;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    font-family: 'NotoSans';
    font-weight: normal;
    font-style: normal;
    color: #000;
}
.wrapper{
    max-width: 1170px;
    padding:0 15px;
    margin:0 auto;
}
.container-1{
    background: #80C02F;
}
#header{
    padding: 16px 0 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .burger-header{
        margin: 5px;
        display:none;
        width: 24px;
        height: 3px;
        background: #fff;
        border-radius: 2px;
        position: relative;
        transition: all ease .3s;
        &:after{
            content:'';
            display:block;
            width: 24px;
            height: 3px;
            background: #fff;
            border-radius: 2px;
            position: absolute;
            left:0;
            top:-7px;
        }
        &:before{
            content:'';
            display:block;
            width: 24px;
            height: 3px;
            background: #fff;
            border-radius: 2px;
            position: absolute;
            left:0;
            top:7px;

        }
        &:hover{
            cursor: pointer;
            transform: scale(1.11);
        }
    }
    .menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-link{
            @include adaptiv-font(14,12);
            line-height: 15px;
            font-style: normal;
            font-weight: 600;
            text-decoration: none;
            color:#fff;
            margin-right: 40px;
            position: relative;
            &:nth-child(1){
                margin-right: 16px;
                font-weight: normal;
            }
            &:nth-child(2){
                margin-right: 45px;
                font-weight: normal;
            }
            &:last-child{ 
                margin-right: 0px;
            }
            &:nth-child(1){
                padding-left: 20px;
            }    
            &:nth-child(1) img{
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                left:0px;
            }
            &:nth-child(2){
                padding-left: 20px;
            } 
            &:nth-child(2) img{
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                left:0px;
            }
        }
    } 
    .log{
        display: flex;
        justify-content: center;
        align-items: center;
        a.log-item{
            cursor: pointer;
            transition: all ease .45s;
            &:hover{
                transform: scale(1.1);
                transition: all ease .5s;
            }
        }
        .new-message{
            position: relative;
            &:after{
                content:'1';
                text-align: center;
                @include adaptiv-font(10,10);
                color:#fff;
                line-height: 16px;
                display: block;
                position: absolute;
                background: #EB6246;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                top:-8px;
                right:-10px;
            }
        }
        .new-notice{
            position: relative;
            &:after{
                content:'10';
                text-align: center;
                @include adaptiv-font(10,10);
                color:#fff;
                line-height: 16px;
                display: block;
                position: absolute;
                background: #EB6246;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                top:-8px;
                right:-10px;
            }
        }
        &-item{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-right: 40px;
            &-user{
                margin-right: 8px;
                border-radius: 50%;
                cursor: pointer;
            }
            &-btn{
                transition: all ease .45s;
                @include adaptiv-font(14,12);
                line-height: 15px;
                color:#fff;
                border:1px solid #fff;
                border-radius: 15px;
                background: transparent;
                width: 71px;
                height: 25px;
                cursor:pointer;
                &:hover{
                    transition: all ease .45s;
                    border: 2px solid #fff;
                    font-size: 16px;
                }
            }
        }
        
    }  
}
.container-2{
    margin-top: 13px;
    .info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-logo{
            margin-right: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                margin-bottom: 5px;
            }
            h2{
                margin-bottom: 20px;
                font-weight: bold;
                @include adaptiv-font(16,12);
                line-height: 15px;
            }
        }
        &-user{
            display: flex;
            &-name{
                font-weight: bold;
                @include adaptiv-font(20,14);
                line-height: 24px;
                margin-right: 10px;
            }
            &-all{
                font-weight: 500;
                @include adaptiv-font(16,12);
                line-height: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                .user-item{
                    padding-left: 18px;
                    padding-right: 18px;
                    font-weight: 500;
                    @include adaptiv-font(16,12);
                    line-height: 15px;
                }
                .user-class{
                    border-left: 2px solid #000;
                    border-right: 2px solid #000;
                }
            }
        }
        .info-find{
            width: 190px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            font-style: normal;
            font-weight: 500;
            @include adaptiv-font(16,12);
            line-height: 15px;
            color:#fff;
            background: #EB6246;
            border-radius: 25px;
            cursor: pointer;;
            img{
                // padding-right: 8px;
            }
            &:hover{
                background: #d1573e;
            }
        }
    }

}
.container-3{
    .profile{
        margin-bottom: 200px;
        &-navigation{
            border-top:2px solid #80C02F;
            margin-bottom: 50px;
            transition:all ease .4s;
            font-family: 'NotoSans';
            font-style: normal;
            font-weight: bold;
            @include adaptiv-font(18,12);
            line-height: 15px;
            display: flex;
            flex-basis: 70%;
            a{  
                display: block;
                color:#000;
                margin-right: 70px;
                text-decoration: none;
                position: relative;
                transition:all ease .2s;
                &:hover{
                    border-top: 4px solid #80C02F;
                    transition:all ease .2s;
                }
            }
        }
        &-content{
            .content-header{
                font-style: normal;
                font-weight: bold;
                @include adaptiv-font(32,18);
                line-height: 28px;
                margin-bottom: 40px;
            }
            .content-middle{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .user-profile-photo{
                    text-align: center;
                    margin-right: 42px;
                    .photo-wrapper{
                        margin-bottom: 15px;
                        img{
                            border-radius: 50%;
                        }
                    }
                    .change-photo{
                        color:#000;
                        text-decoration: underline;
                    }
                }
                .user-profile-info{
                    .info-wrapper{
                        margin-bottom: 62px;
                        margin-right: 30px;
                    }
                    .info-user{
                        font-style: normal;
                        font-weight: normal;
                        @include adaptiv-font(18,12);
                        line-height: 32px;
                        letter-spacing: -0.5px;
                    }
                    .check-wrapper{
                        display: flex;
                        margin-bottom: 42px;
                        label{
                            margin-right: 30px;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                    #spamMail[type="checkbox"]{
                        display: none;
                    }
                    #spamMail[type="checkbox"]:checked + .checkdiv:after{
                        left:20px;
                        background: #80C02F;
                        transition: all ease .3s;
                    }
                    .checkdiv{
                        width: 44px;
                        height: 20px;
                        background: #DFE2E6;
                        border-radius: 10px;
                        position: relative;
                        &:after{
                            left:0;
                            top:50%;
                            transform: translateY(-50%);
                            position: absolute;
                            content:'';
                            display: block;
                            width: 24px;
                            height: 24px;
                            background: #c5c8cc;
                            border: 1px solid #FFFFFF;
                            border-radius: 50%;
                            transition: all ease .3s;
                        }
                    }
                    .info-delete{
                        display:block;
                        cursor: pointer;
                        padding-bottom:8px;
                        text-decoration-line: underline;
                    }
                }
                .user-button{
                    font-style: normal;
                    font-weight: 500;
                    @include adaptiv-font(16,12);
                    line-height: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    letter-spacing: -0.5px;
                    width: 190px;
                    height: 40px;
                    background: #80C02F;
                    border-radius: 25px;
                    border:none;
                    color:#fff;
                    margin-right: 21px;
                    margin-bottom: 30px;
                    &:last-child{
                        margin-right: 0px;
                    }
                    img{
                        margin-right: 8px;
                    }
                    &:hover{
                        cursor: pointer;
                        background: #73aa2b;
                    }
                }
            }          
        }
        &-progress{
            &-full{
                max-width: 190px;
                // margin-top:12px;
                font-style: normal;
                font-weight: bold;
                @include adaptiv-font(16,12);
                line-height: 22px;
                letter-spacing: -0.5px;
                color: #000000;
                margin-bottom: 50px;
                
            }
            &-circle{
                width: 169px;
                height: 169px;
                border: 5px solid  #80C02F;;
                border-radius: 50%;
                position: relative;
                margin-bottom: 37px;
                .number-circle{
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    font-style: normal;
                    font-weight: bold;
                    @include adaptiv-font(32,20);
                    line-height: 28px;
                    letter-spacing: -0.5px;
                    color: #80C02F;
                }
            }
            &-data{
                .data-header,.data-test,.data-achievments{
                    font-style: normal;
                    font-weight: normal;
                    @include adaptiv-font(16,12);
                    line-height: 20px;
                    letter-spacing: -0.5px;
                    color: #000000;
                    margin-bottom: 15px;
                    .data-wrap{
                        display: flex;
                        align-items: flex-end;
                        .string-progress1{
                            margin-top: 15px;
                            width: 137px;
                            height: 11px;
                            margin-right: 12px;
                            background: #FFFFFF;
                            border: 1px solid #C4C4C4;
                            position: relative;
                            &:after{
                                content:'';
                                display: block;
                                position: absolute;
                                top:0;
                                left:0;
                                height: 100%; 
                                width: 90%; 
                                background: #80C02F; 
                            }
                        }
                        .string-progress2{
                            margin-top: 15px;
                            width: 137px;
                            height: 11px;
                            margin-right: 12px;
                            background: #FFFFFF;
                            border: 1px solid #C4C4C4;
                            position: relative;
                            &:after{
                                content:'';
                                display: block;
                                position: absolute;
                                top:0;
                                left:0;
                                height: 100%;  
                                width: 45%;
                                background: #FF981F; 
                            }
                        }
                        .string-progress3{
                            margin-top: 15px;
                            width: 137px;
                            height: 11px;
                            margin-right: 12px;
                            background: #FFFFFF;
                            border: 1px solid #C4C4C4;
                            position: relative;
                            &:after{
                                content:'';
                                display: block;
                                position: absolute;
                                top:0;
                                left:0;
                                height: 100%; 
                                width: 89%;
                                background: #80C02F;  
                            }
                        }
                        .num{
                            font-style: normal;
                            font-weight: bold;
                            @include adaptiv-font(16,12);
                            line-height: 22px;
                            display: flex;
                            align-items: center;
                            text-align: right;
                            letter-spacing: -0.5px;
                        }
                        .num1,.num3{
                            color: #80C02F;
                        }
                        .num2{
                            color: #FF981F;
                        }
                    }
                    
                }
            }
        }
    }
}
#footer{
    background: #80C02F;
    .footer-contain{
        padding-top: 52px;
        padding-bottom: 76px;
        display: flex;
        justify-content: space-between;
        &__us{
            display: flex;
            flex-direction: column;
            .contain__us-item{
                color:#fff;
                text-decoration: underline;
                margin-bottom: 15px;
                &:hover{
                    color:red;
                }
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
        &__social{
            display: flex;
            .contain__social-item{
                margin-right: 38px;
            }
            
        }
        &__contacts{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .contain__contacts-item{
                color:#fff;
                margin-bottom: 15px;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
    }
}

@media screen and(max-width: 1020px){
    #header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu{
        &-link{
            @include adaptiv-font(14,10);
            line-height: 15px;
            font-style: normal;
            font-weight: 600;
            text-decoration: none;
            color:#fff;
            margin-right: 6px;
            position: relative;
            &:nth-child(1){
                margin-right: 10px;
                font-weight: normal;
            }
            &:nth-child(2){
                margin-right: 8px;
                font-weight: normal;
            }
            &:last-child{ 
                margin-right: 8px;
            }
            &:nth-child(1){
                padding-left: 12px;
            }    
            &:nth-child(1) img{
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                left:-10px;
            }
            &:nth-child(2){
                padding-left: 5px;
            } 
            &:nth-child(2) img{
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                left:-10px;
            }
        }
    } 
    .log{
        &-item{
            margin-right: 20px;
        }
    }
}
.container-3{
    .profile{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 100px;
        &-main{
            // border-top:2px solid #80C02F;
            &-content{
                .content-middle{
                    display: flex;
                    
                    .user-profile-photo{
                        text-align: center;
                        margin-right: 42px;
                        
                    }
                    .user-button{
                        font-style: normal;
                        font-weight: 500;
                        @include adaptiv-font(16,12);
                        line-height: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        letter-spacing: -0.5px;
                        width: 190px;
                        height: 40px;
                        background: #80C02F;
                        border-radius: 25px;
                        border:none;
                        color:#fff;
                        margin-right: 21px;
                        // margin-bottom: 20px;
                        // order:5;
                    }
                }          
            }
        }
        &-progress{
            &-full{
                max-width: 190px;
                margin-top:12px;
                font-style: normal;
                font-weight: bold;
                @include adaptiv-font(16,12);
                line-height: 22px;
                letter-spacing: -0.5px;
                color: #000000;
                margin-bottom: 50px;
            }
            &-circle{
                width: 169px;
                height: 169px;
                border: 5px solid  #80C02F;;
                border-radius: 50%;
                position: relative;
                margin-bottom: 37px;
                .number-circle{
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    font-style: normal;
                    font-weight: bold;
                    @include adaptiv-font(32,20);
                    line-height: 28px;
                    letter-spacing: -0.5px;
                    color: #80C02F;
                }
            }
            &-data{
                .data-header,.data-test,.data-achievments{
                    font-style: normal;
                    font-weight: normal;
                    @include adaptiv-font(16,12);
                    line-height: 20px;
                    letter-spacing: -0.5px;
                    color: #000000;
                    margin-bottom: 15px;
                    .data-wrap{
                        display: flex;
                        align-items: flex-end;
                        .string-progress1{
                            margin-top: 15px;
                            width: 137px;
                            height: 11px;
                            margin-right: 12px;
                            background: #FFFFFF;
                            border: 1px solid #C4C4C4;
                            position: relative;
                            &:after{
                                content:'';
                                display: block;
                                position: absolute;
                                top:0;
                                left:0;
                                height: 100%; 
                                width: 90%; 
                                background: #80C02F; 
                            }
                        }
                        .string-progress2{
                            margin-top: 15px;
                            width: 137px;
                            height: 11px;
                            margin-right: 12px;
                            background: #FFFFFF;
                            border: 1px solid #C4C4C4;
                            position: relative;
                            &:after{
                                content:'';
                                display: block;
                                position: absolute;
                                top:0;
                                left:0;
                                height: 100%;  
                                width: 45%;
                                background: #FF981F; 
                            }
                        }
                        .string-progress3{
                            margin-top: 15px;
                            width: 137px;
                            height: 11px;
                            margin-right: 12px;
                            background: #FFFFFF;
                            border: 1px solid #C4C4C4;
                            position: relative;
                            &:after{
                                content:'';
                                display: block;
                                position: absolute;
                                top:0;
                                left:0;
                                height: 100%; 
                                width: 89%;
                                background: #80C02F;  
                            }
                        }
                        .num{
                            font-style: normal;
                            font-weight: bold;
                            @include adaptiv-font(16,12);
                            line-height: 22px;
                            display: flex;
                            align-items: center;
                            text-align: right;
                            letter-spacing: -0.5px;
                        
                        }

                    }
                    
                }
            }
        }
    }
}
}
@media screen and(max-width: 820px){
    .info-user{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        &-name{
            margin-right: 6px;
        }
        &-all{
            font-weight: 500;
            @include adaptiv-font(16,12);
            line-height: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            .user-item{
                padding-left: 18px;
                padding-right: 18px;
                font-weight: 500;
                @include adaptiv-font(16,12);
                line-height: 15px;
                &:first-child{
                    padding-left: 0px;
                }
            }
            .user-class{
                border-left: 2px solid #000;
                border-right: 2px solid #000;
            }
        }
    }
    .container-3{
    .profile{
        margin-bottom: 100px;
        &-navigation{
            border-top:2px solid #80C02F;
            margin-bottom: 50px;
            transition:all ease .4s;
            font-family: 'NotoSans';
            font-style: normal;
            font-weight: bold;
            @include adaptiv-font(18,12);
            line-height: 15px;
            display: flex;
            flex-basis: 70%;
            a{  
                display: block;
                color:#000;
                margin-right: 30px;
                text-decoration: none;
                position: relative;
                transition:all ease .2s;
            }
        }
            &-content{
                .content-header{
                    font-style: normal;
                    font-weight: bold;
                    @include adaptiv-font(32,18);
                    line-height: 28px;
                    margin-bottom: 30px;
                }
                .content-middle{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .user-profile-photo{
                        text-align: center;
                        margin-right: 42px;
                        .photo-wrapper{
                            margin-bottom: 15px;
                            img{
                                border-radius: 50%;
                            }
                        }
                        
                    }
                    .btn-wrapper{
                        order:2;
                        justify-content: flex-end;
                    }
                    .profile-progress{
                        order:2;
                        display:flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        &-full{
                            margin-bottom: 20px;
                        }
                        &-circle{
                            order:3;
                            // flex-basis: 100%;
                        }
                        &-data{
                            order:2;
                            .data-achievments{
                                margin-bottom: 30px;
                            }
                        }
                    }
                    .user-profile-info{
                        order:3;
                    }
                    
                }          
            }
        }
        
    }
}

@media screen and(max-width: 600px){
    #header{
        // margin: 16px 0 17px;
        .burger-header{
        display:block;
        }
        .menu{
            display:none;
        }
    }
    
    .container-3 .profile-content .content-middle{
        justify-content: space-around;
    }
    .user-profile-photo{
        margin-bottom: 15px;
    }
    .info-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .container-2 .info .info-user{
        margin-bottom: 20px;
    }
    #footer{
        background: #80C02F;
        .footer-contain{
            flex-wrap: wrap;
            padding-bottom: 30px;
            &__us{
            margin-bottom: 20px;
            flex-basis: 100%;
            }
            &__social{
                margin-bottom: 20px;
                flex-basis: 100%;
                .contain__social-item{
                    margin-bottom: 5px;
                }
            }
            &__contacts{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .contain__contacts-item{
                    color:#fff;
                    margin-bottom: 15px;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}
@media screen and(max-width:500px){
    .container-2 .info{
        flex-wrap: wrap;
        .info-user{
            order:3;
        }
    }
    .container-2 .info .info-find{
        margin-bottom:20px;
    }
    .container-3 .profile-content .content-middle .user-profile-photo{
        margin-right: 0px;
    }
    .container-3 .profile-content .content-middle .user-button{
        margin-right: 0px;
    }
}
@media screen and(max-width: 450px){
    .container-3 .profile-content .content-middle{
        justify-content: space-around;
    }
    .user-profile-photo{
        margin-bottom: 15px;
    }
    .info-wrapper{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}